*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.chat_application{
  background-image: url(./Images/bg.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
}
.card-header{
    background-color:rgba(15, 179, 15, 0.582) ;
}
.icon{
      color: rgba(167, 11, 240, 0.541);
}
.fab{
    font-size: 45px;
}

.card{
    border: none;
} 
.card-body{
    background-image: url(./Images/card_bg.jpg);
    padding: 25px 15px 15px 15px;
    color: white;
    overflow-y:auto;
    height: 500px;
    display: flex;
    flex-direction: column;
}
.message{
    padding: 22px 10px 0px 10px;
    border-radius: 10px;
    position: relative;
    max-width: 330px;
    margin-bottom: 30px;
}
.incoming_message{
    background-color: rgb(126, 126, 235);
    margin-right: auto;
    color: white;
}
.outgoing_message{
    margin-left: auto;
    background-color: rgb(8, 8, 94);
    color: white;
}
.message h4{
    position: absolute;
    left: 4px;
    top: 5px;
    color:white;
    font-size: 15px;
    z-index: 10;
    text-transform: capitalize;
}
.message p span{
    justify-content: end;
    padding-left: 20px;
    font-size: 12px;
}

#textarea{
    padding: 10px;
    outline: none;
    border: none;
    color: white;
    background-color: rgb(114, 113, 113);
    font-weight: 450;
    font-size: medium;
    
}
::placeholder{
    color: rgb(189, 193, 196);
    font-weight: 600;
}
::-webkit-scrollbar{
    visibility: hidden;
}